stages:
  - analysis
  - test
  - build_1
  - build_2
  - upload
  - release

variables:
  # v1.24.0-debug
  # https://console.cloud.google.com/artifacts/docker/kaniko-project/us/gcr.io/executor/sha256:2562c4fe551399514277ffff7dcca9a3b1628c4ea38cb017d7286dc6ea52f4cd
  IMG_KANIKO: "gcr.io/kaniko-project/executor@sha256:2562c4fe551399514277ffff7dcca9a3b1628c4ea38cb017d7286dc6ea52f4cd"

  # https://hub.docker.com/layers/bitnamilegacy/kubectl/1.32.4/images/sha256-1f0f5615c70c3570a8ff585f7603626b8daa46dfd905d86c6662139f189522de
  IMG_KUBECTL: bitnamilegacy/kubectl:1.32.4

  # debug
  # https://console.cloud.google.com/artifacts/docker/go-containerregistry/us/gcr.io/crane/sha256:fbdf6d55c5ae90d9ae637b9bd9f10119496fdf18a3b5f9cd3078ae6044161c18
  IMG_CRANE: "gcr.io/go-containerregistry/crane@sha256:fbdf6d55c5ae90d9ae637b9bd9f10119496fdf18a3b5f9cd3078ae6044161c18"

  # 0.10.0-python3.10-trixie
  # https://github.com/astral-sh/uv/pkgs/container/uv/673335164?tag=0.10.0-python3.10-trixie
  IMG_PYTHON_UV_3_10: "ghcr.io/astral-sh/uv@sha256:c3269254837dee05be4a8d3075fa1faef5bdb915878eae9d362df26b6d9d0e8e"

  # 0.10.0-python3.11-trixie
  # https://github.com/astral-sh/uv/pkgs/container/uv/673335904?tag=0.10.0-python3.11-trixie
  IMG_PYTHON_UV_3_11: "ghcr.io/astral-sh/uv@sha256:f1096448765bb333a69cdfe4b924e92a08b3b776f3eaa0dc1003c9b2ccb0f650"

  # 0.10.0-python3.12-trixie
  # https://github.com/astral-sh/uv/pkgs/container/uv/673335789?tag=0.10.0-python3.12-trixie
  IMG_PYTHON_UV_3_12: "ghcr.io/astral-sh/uv@sha256:1382c1a95c61ef153a73aacd5647455183ff6ca983a822c9eef3c2e4737fc95d"

  # 0.10.0-python3.13-trixie
  # https://github.com/astral-sh/uv/pkgs/container/uv/673335781?tag=0.10.0-python3.13-trixie
  IMG_PYTHON_UV_3_13: "ghcr.io/astral-sh/uv@sha256:6d8f8e2bb4faf78b0689101f17bb90446bcc156cd709c6a6dfcb410a6486ecb5"

  # 0.10.0-python3.14-trixie
  # https://github.com/astral-sh/uv/pkgs/container/uv/673335080?tag=0.10.0-python3.14-trixie
  IMG_PYTHON_UV_3_14: "ghcr.io/astral-sh/uv@sha256:d463c8e6fe50b45a34bee0343263dc36beb067df1a0b8e48e4eea737774514db"

  IMG_DOC: ${CONTAINER_REGISTRY_URL}/scheduler-doc:${CI_COMMIT_SHORT_SHA}

####################################################################################################
### Analysis Stage
####################################################################################################

pylint_3_10:
  stage: analysis
  image: $IMG_PYTHON_UV_3_10
  script:
    - uv sync --all-groups
    - uv run pylint scheduler
  allow_failure: true

mypy_3_10:
  stage: analysis
  image: $IMG_PYTHON_UV_3_10
  script:
    - uv sync --all-groups
    - uv run mypy scheduler
  allow_failure: true

pydocstyle_3_10:
  stage: analysis
  image: $IMG_PYTHON_UV_3_10
  script:
    - uv sync --all-groups
    - uv run pydocstyle scheduler
  allow_failure: true

bandit_3_10:
  stage: analysis
  image: $IMG_PYTHON_UV_3_10
  script:
    - uv sync --all-groups
    - uv run bandit -r scheduler
  allow_failure: false

####################################################################################################
### Test Stage
####################################################################################################

pytest_3_10:
  stage: test
  image: $IMG_PYTHON_UV_3_10
  script:
    - uv sync --all-groups
    - uv run pytest --cov=scheduler/ tests/

pydoctest_3_10:
  stage: test
  image: $IMG_PYTHON_UV_3_10
  script:
    - uv sync --all-groups
    - uv run pytest --doctest-modules doc/pages/*/*.rst

pytest_3_11:
  stage: test
  image: $IMG_PYTHON_UV_3_11
  script:
    - uv sync --all-groups
    - uv run pytest --cov=scheduler/ tests/

pydoctest_3_11:
  stage: test
  image: $IMG_PYTHON_UV_3_11
  script:
    - uv sync --all-groups
    - uv run pytest --doctest-modules doc/pages/*/*.rst

pytest_3_12:
  stage: test
  image: $IMG_PYTHON_UV_3_12
  script:
    - uv sync --all-groups
    - uv run pytest --cov=scheduler/ tests/

pydoctest_3_12:
  stage: test
  image: $IMG_PYTHON_UV_3_12
  script:
    - pytest --doctest-modules doc/pages/*/*.rst

pytest_3_13:
  stage: test
  image: $IMG_PYTHON_UV_3_13
  script:
    - uv sync --all-groups
    - uv run pytest --cov=scheduler/ tests/

pydoctest_3_13:
  stage: test
  image: $IMG_PYTHON_UV_3_13
  script:
    - uv sync --all-groups
    - zuv run pytest --doctest-modules doc/pages/*/*.rst

pytest_3_14:
  stage: test
  image: $IMG_PYTHON_UV_3_14
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  script:
    - uv sync --all-groups
    - uv run pytest --cov=scheduler/ tests/
    - uv run python -m coverage html
  artifacts:
    paths:
      - htmlcov/

pydoctest_3_14:
  stage: test
  image: $IMG_PYTHON_UV_3_14
  script:
    - uv sync --all-groups
    - uv run pytest --doctest-modules doc/pages/*/*.rst

####################################################################################################
### First Build Stage
####################################################################################################

doc_build:
  stage: build_1
  image: $IMG_PYTHON_UV_3_14
  script:
    - cd doc
    - uv sync
    - uv run sphinx-build -b html . _build/
  artifacts:
    paths:
      - doc/_build/html/

pkg_build:
  stage: build_1
  image: $IMG_PYTHON_UV_3_14
  script:
    - uv build
  artifacts:
    paths:
      - dist

####################################################################################################
#### Second Build Stage
####################################################################################################

doc_image:
  stage: build_2
  image:
    name: $IMG_KANIKO
    entrypoint: [""]
  script:
    - >
      /kaniko/executor --context ./docs --destination "${IMG_DOC}" --tarPath app_image.tar
      --no-push --force
  artifacts:
    paths:
      - app_image.tar

####################################################################################################
#### Upload Stage
####################################################################################################

doc_upload:
  stage: upload
  image:
    name: $IMG_CRANE
    entrypoint: [""]
  script:
    - crane auth login -u "${CONTAINER_REGISTRY_USER}" -p "${CONTAINER_REGISTRY_PW}" "${CONTAINER_REGISTRY_URL}"
    - crane push app_image.tar ${IMG_DOC}
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"

####################################################################################################
### Release Stage
####################################################################################################

doc_release:
  stage: release
  image:
    name: $IMG_KUBECTL
    entrypoint: [""]
  script:
    - source ci/setup_kubectl.sh
    - envsubst < docs/k8s.yaml | kubectl apply -f -
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"

pkg_release:
  stage: release
  image:
    name: $IMG_PYTHON_UV_3_14
  script:
    - uv publish
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+.\d+.\d+/'
