__pycache__
tmp.*

# pip
*.egg-info/
.python-version

# build directories
build/
dist/
pkg/
src/
*.zst
*.gz
*.whl

# testing
.venv
.coverage*
*htmlcov/
.mypy_cache/
.pytest_cache/

# sphinx-build
doc/_build/
doc/_autosummary/

# vscode
.vscode/
