repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run isort
        require_serial: true
        language: python
        language_version: python3
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: black
        name: black
        entry: uv run black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]
        args: [--safe, --quiet]
      - id: blacken-docs
        name: blacken-docs
        entry: uv run blacken-docs
        language: python
        language_version: python3
        files: '\.(rst|md|markdown|py|tex)$'
      - id: pytest-check
        name: pytest-check
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true
        args: [tests/]
      - id: pytest-docs
        name: pytest-docs
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true
        args: [--doctest-glob=*.rst, doc/pages/]
      - id: sphinx
        name: sphinx
        working_dir: doc
        entry: uv run sphinx-build
        language: system
        pass_filenames: false
        always_run: true
        args: [-b, html, doc/, doc/_build/html]
