pylint==3.3.3
pytest==8.3.4
pytest-cov==6.0.0
pytest-asyncio==0.25.2
coverage==7.6.10
mypy==1.14.1
bandit==1.8.2
pydocstyle==6.3.0
Sphinx==6.1.2
numpydoc==1.8.0
mistune==0.8.4
m2r2==0.3.3
docutils==0.19
furo==2024.8.6
typeguard==4.4.1
black==24.10.0
blacken-docs==1.19.1
pre-commit==4.1.0
isort==5.13.2